doctype html
html
  head
    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/css/bootstrap.css')

    script(src='http://unpkg.com/axios/dist/axios.min.js')
    script(src="https://canvasjs.com/assets/script/canvasjs.min.js")
    script(src='/javascripts/chart.js')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js')
  body(onload="grafico1(); grafico2()")
    block content
